*.xcuserstate
*.DS_Store
YRYN/frameworks/runtime-src/proj.ios_mac/YRYN.xcodeproj/*
YRYN/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/*
YRYN/frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/*
YRYN/frameworks/runtime-src/proj.ios_mac/YRYN.xcodeproj/project.xcworkspace/xcuserdata/xiayang.xcuserdatad/UserInterfaceState.xcuserstate
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
#*.xcworkspace
#!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.xcuserstate
# Pods - for those of you who use CocoaPods
#Pods
